

.navigation{
    width: 100%;


    .navigation_wrapper
    {
        min-width: 100%;
        background-color: rgba(14, 13, 13, 0.781);
        height: 8px;
        border-radius: 30px;
        cursor: pointer;
        
        .seek_bar{
            width: 0;
            height: 90%;
            background-color: rgb(30, 179, 238);
            border-radius: 30px;
        }

    }
}